﻿<%@ Page MasterPageFile="~/AppCode/Operate.Master" EnableViewState="false" Language="C#" AutoEventWireup="true" CodeBehind="SearchAllClosedServers.aspx.cs" Inherits="WebApp.Account.SearchAllClosedServers" %>

