﻿<%@ Import Namespace="WebApp" %>
<%@ Master Language="C#" MasterPageFile="~/AppCode/DataSetAskDialog.master" AutoEventWireup="true" CodeBehind="ServerSelectAskDialog.master.cs" Inherits="WebApp.AppCode.ServerSelectAskDialog" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentHeader" runat="server">
		<asp:ContentPlaceHolder ID="ContentHeader" runat="server" />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="TERA_ATO" runat="server">
	<div class="ato-serverlist">
		<label><%# DisplayString.CheckServer %></label>
		<ul>
			<li>
				<asp:CheckBox runat="server" ID="CheckAllServer" Text='<%# DisplayString.SelectAll %>' OnCheckedChanged="CheckAllServer_CheckedChanged" AutoPostBack="true"/>
			</li>
		</ul>
		<ul>
			<asp:Repeater runat="server" ID="ServerCheckList">
				<ItemTemplate>
					<li>
						<asp:CheckBox runat="server" ID="ServerName" Text='<%# Eval("ServerName") %>' OnCheckedChanged="ServerName_CheckedChanged" AutoPostBack="true"/>
						<asp:HiddenField runat="server" ID="ServerNo" Value='<%# Eval("ServerNo") %>' />
					</li>
				</ItemTemplate>
			</asp:Repeater>
		</ul>
		<label><%# DisplayString.AlertCheckAllServer %></label>
	</div>

	<asp:ContentPlaceHolder ID="TERA_ATO" runat="server" />
</asp:Content>
