﻿<%@ Page MasterPageFile="~/AppCode/Operate.Master" EnableViewState="false" Language="C#" AutoEventWireup="true" CodeBehind="ContentsOnOffPage.aspx.cs" Inherits="WebApp.ContentsControl.ContentsOnOffPage" %>
