﻿@using System.Web.Mvc.Html
@using WebApp
@using WebApp.Controllers
@{
    ViewBag.Title = "LevelEventPage";
}



<script type="text/javascript">
    /*[설명충]

    WorldFestivalController.cs와 통신한다.
    HTML에 표시할 데이터는 ViewBag을 이용하여 가져오면되고 웹서버에 전달할때는 InvokeWebService에 C# struct를 param으로 넘겨준다.
    프론트 엔드(cshtml)를 수정할 때는 WebApp을 디버거 없이 띄우고 익스플로러나 크롬의 디버깅모드를 이용하는게 깔끔하다. 수정하고 F5를 누르면 반영이 되어있다.
    VS2015부터는 JSP도 Intelligence를 지원한다니 그런 시대가 온다면 그렇게 하라.

    */

    var itemTemplateIds = [0]; //empty initialization이 안되기 때문에(꼼수로 되긴함) 그냥 index 1부터 체크하고 보내고 하도록한다.
    var abnormalityIds = [0];
    var itemAmounts = [0];
    var gold = 0;
    var row = 0;

    function GetItemName(templateId) {
        return InvokeWebServiceSyncByUri('/api/TeraData/GetItemName', 'id=' + templateId);
    }

    function IsStackable(templateId) {
        return InvokeWebServiceSyncByUri('/api/TeraData/IsStackableItem', 'id=' + templateId);
    }

    function GetAbnormalityName(templateId) {
        return InvokeWebServiceSyncByUri('/api/TeraData/GetAbnormalityName', 'id=' + templateId);
    }

    function GenerateItemResultTable(isConfirm)
    {   
        var table = document.getElementById('add-item-result-table');
        var index = itemTemplateIds.length + (gold > 0 ? 1: 0) + abnormalityIds.length - 3;
        while(index > 0)
        {
            table.deleteRow(index);
            index--;
        }
       
        for(var i = 1; i < itemTemplateIds.length; ++i)
        {
            row++;
            $('#add-item-result-table').append(
            "<tr id='resultrow" + row + "'>" +
            "<td class='target-level'>" + param.targetLevel + "</td>" +
            "<td class='item-template-id-result'>" + itemTemplateIds[i] + "</td>" +
            "<td class='item-name-result'>" + GetItemName(itemTemplateIds[i]) + "</td>" +
            "<td class='item-amount-result'>" + itemAmounts[i] + "</td>" +
            "<td> <input type='button' value='@DisplayString.DeleteFromList' class='delete-result-item' /> </td> </tr>");   
        }

    	$('.delete-result-item').click(function () {
            var tr = $(this).closest("tr");
            tid = tr.find('.item-template-id-result').text();

            for(i=1;i<itemTemplateIds.length;++i)
            {
                if(itemTemplateIds[i] == parseInt(tid))
                {
                    itemTemplateIds.splice(i, 1);
                    itemAmounts.splice(i, 1);
                    tr.remove();
                    break;
                }
            }
        });

        if(gold > 0)
        {
            row++;
            $('#add-item-result-table').append(
            "<tr id='resultrow" + row + "'>"  +
            "<td> <label id='target-level'>" + param.targetLevel + "</label> </td>" +
            "<td> - </td>" +
            "<td> @DisplayString.Gold </label> </td>" +
            "<td> " + gold + "</td>" +
            "<td> <input type='button' value='@DisplayString.DeleteFromList' class='delete-result-gold' /> </td> </tr>");

            $('.delete-result-gold').click(function () {
                gold = 0;
                $(this).closest("tr").remove();
            });
        }

        for(var i = 1; i < abnormalityIds.length; ++i)
        {
            row++;
            $('#add-item-result-table').append(
            "<tr id='resultrow" + row + "'>"  +
            "<td class='target-level'>" + param.targetLevel + "</td>" +
            "<td class='abnormality-template-id-result'>" + abnormalityIds[i] + " </td>" +
            "<td> @DisplayString.Abnormality </td>" +
            "<td class='abnormality-name-result'>" + GetAbnormalityName(abnormalityIds[i]) + " </td>" +
            "<td> <input type='button' value='@DisplayString.DeleteFromList' class='delete-abnormality' /> </td> </tr>");
        }

		$('.delete-abnormality').click(function (){
            var tr = $(this).closest("tr");
            tid = tr.find('.abnormality-template-id-result').text();

            for(i=0;i<abnormalityIds.length;++i)
            {
                if(abnormalityIds[i] == parseInt(tid))
                {
                	abnormalityIds.splice(i, 1);
                	tr.remove();
					break;
                }
            } 
        });

        $('#add-item-result-table').show();
    }

    var GenerateParamForRegister = function () {

        return {
            serverNo: $('#ServNoDDL').val(),
            mailSenderName: $('#mail-sender-name').val(),
            mailTitle: $('#mail-title').val(),
            mailBody: $('#mail-body').val(),
            memo: $('#memo-text').val(),
            startTime: $('#start-date').val() + $('#start-time').val(),
            endTime: $('#end-date').val() + $('#end-time').val(),
            uniquePerAccount: $('#unique-per-account').val(),
            targetLevel: $("#target-level").val(),
            itemTemplateIds: itemTemplateIds,
            itemAmounts: itemAmounts,
            abnormalityIds: abnormalityIds,
            gold: gold,
            classTypes: $("#class-type:checked").map(function() {return this.value;}).get().join(",")
        };
    };

    var GenerateParamForCancel = function () {
        var memoDialog = $('#memo-dialog2');
        var serverNo = memoDialog.data('server-no');
        var eventId = memoDialog.data('event-id');
        var eventPeriod = memoDialog.data('event-period');
        var targetLevel = memoDialog.data('target-level');
        var uniquePerAccount = memoDialog.data('unique-per-account');
        var targetClass = memoDialog.data('target-class');
        var compensations = memoDialog.data('compensations');
        return {
            ServerNo: serverNo,
            EventId: eventId,
            EventPeriod: eventPeriod,
            TargetLevel: targetLevel,
            Compensations: compensations,
            UniquePerAccount: uniquePerAccount,
            ClassTypes: targetClass,
            Memo: $('#memo-text2').val()
        };
    };

    function GenerateConfirmList(displayString) {

        var list = $('#confirm-list');
        list.empty();
        list.append('<li>' + displayString.ServerName + ': ' + $('#ServNoDDL option:selected').text() + '</li>');
        list.append('<li>' + displayString.Parcel_Sender + ': ' + $('#mail-sender-name').val() + '</li>');
        list.append('<li>' + displayString.Title + ': ' + $('#mail-title').val() + '</li>');
        list.append('<li>' + displayString.Parcel_Msg + ': ' + $('#mail-body').val() + '</li>');
        list.append('<li>' + displayString.TargetLevel+ ': ' + $('#target-level').val() + '</li>');

        var classSetting = $("#class-type:checked").map(function() {return this.getAttribute("korString");}).get().join(",");
        if (classSetting == "")
            classSetting = "전체";

        list.append('<li>' + displayString.ClassSetting + ': ' + classSetting);

        var immediate = $('#register-form').data('immediate') == 'true';
        if (immediate == false) {
            list.append('<li>' + displayString.EventPeriod + ': ' + $('#start-date').val() + ' ' + $('#start-time').val() + ' ~ ' + $('#end-date').val() + ' ' + $('#end-time').val() + '</li>');
        }
        
        var items = "<table class='itemtable' id='confirm-item-table'><tr>\
        			<th>TID</th>\
        			<th>@DisplayString.CompensationName</th>\
        			<th>@DisplayString.CompensationInfo</th></tr>";

        for(var i = 1; i < itemTemplateIds.length; ++i)
        {
            items +=
            "<tr id='resultrow'>" +
            "<td class='item-template-id-result'>" + itemTemplateIds[i] + "</td>" +
            "<td class='item-name-result'>" + GetItemName(itemTemplateIds[i]) + "</td>" +
            "<td class='item-amount-result'>" + itemAmounts[i] + "</td></tr>";   
        }


        if(gold > 0)
        {
            items +=
            "<tr id='resultrow'>"  +
            "<td> - </td>" +
            "<td> @DisplayString.Gold </label> </td>" +
            "<td> " + gold + "</td></tr>";
        }

        for(var i = 1; i < abnormalityIds.length; ++i)
        {
            items +=
            "<tr id='resultrow'>"  +
            "<td class='abnormality-template-id-result'>" + abnormalityIds[i] + " </td>" +
            "<td> @DisplayString.Abnormality </td>" +
            "<td class='abnormality-name-result'>" + GetAbnormalityName(abnormalityIds[i]) + " </td></tr>";
        }

        items += "</table>";

        list.append(items);
    }

    function GenerateConfirmListForCancel(displayString) {
        var memoDialog = $('#memo-dialog2');
        var list = $('#confirm-list2');
        list.empty();
        list.append('<li>' + displayString.ServerName + ': ' + memoDialog.data('server-name') + '</li>');
        list.append('<li>' + displayString.Parcel_Sender + ': ' + memoDialog.data('mail-sender-name') + '</li>');
        list.append('<li>' + displayString.Title + ': ' + memoDialog.data('mail-title') + '</li>');
        list.append('<li>' + displayString.TargetLevel + ': ' + memoDialog.data('target-level') + '</li>');
        list.append('<li>' + displayString.EventPeriod + ': ' + memoDialog.data('event-period') + '</li>');
    }

    function DeleteAllLevelEvent(serverNo) {
        var param =
            {
                ServerNo: serverNo,
                EventId: -1,
                Memo: "Delete All"
            };
        var displayString = GetDisplayString();
        InvokeWebService('/api/OpCommand/CancelLevelEvent', param,
                                    function (jsonData) {
                                        $('#message-box-label').html(jsonData);
                                        $('#message-box').dialog("open");
                                        $('#memo-text').val('');
                                    },
                    function (e) {
                        $('#message-box-label').text(displayString.Fail);
                        $('#message-box').dialog("open");
                    });
    }


    $.fn.addItemDialog = function (displayString, checkAction, commitAction) {
        var thisDialog = this;

        $("#submit").click( function (){
            if (checkAction()){
                if (confirm(displayString.ConfirmInput)) {
                    commitAction();
                    $(this).dialog("close");
                    thisDialog.dialog("close");
                }
            }
            else{
                alert(displayString.InvalidParam);
            }
        });

        $("#cancel").click( function(){
            $(this).dialog("close");
            thisDialog.dialog("close");
        });

        this.dialog({
            title: displayString.AddCompensation,
            autoOpen: false,
            width: 600,
            modal: true
        });
    }

    $(document).ready(function () {
        var displayString = GetDisplayString();

        $('.search-level-event').click(function () {
            var serverNo = $('#ServNoDDL2').find('option:selected').val();
            window.location = '/WorldFestival/LevelEventPage/?id=' + serverNo;
        });

        $('#add-item-dialog').addItemDialog(displayString,
            function() {
                /// 컨펌 함수
                var templateId = $('#item-template-id').val();
                var amount = $('#item-amount').val();
                if (templateId == undefined || templateId <= 0|| !(templateId % 1 === 0))
                    return false;

                var itemName = GetItemName(templateId);
                if (itemName == undefined || itemName == "" || itemName == null)
                    return false;

                if (amount == undefined || !(amount % 1 === 0) || amount <= 0 )
                    return false;

                return true;
            },
            function() {
                /// 섭밋 함수
                itemTemplateIds.push($('#item-template-id').val());
                itemAmounts.push($('#item-amount').val());

                GenerateItemResultTable();
            });

        $('#add-gold-dialog').addItemDialog(displayString,
        function() {
            /// 컨펌 함수
            if ($('#gold-amount').val() == undefined || $('#gold-amount').val() <= 0 || !($('#gold-amount').val() % 1 === 0) )
                return false;

            return true;
        },
        function() {
            /// 섭밋 함수
            gold = $('#gold-amount').val();

            GenerateItemResultTable();
        });

        $('#add-abnormality-dialog').addItemDialog(displayString,
        function() {
            /// 컨펌 함수

            var templateId = $('#abnormality-id').val();
            if (templateId == undefined || templateId <= 0 || !(templateId % 1 === 0))
                return false;

            var abnormalityName = GetAbnormalityName(templateId);
            if (abnormalityName == undefined || abnormalityName == "" || abnormalityName == null)
                return false;

            return true;
        },
        function() {
            /// 섭밋 함수
            abnormalityIds.push($('#abnormality-id').val());

            GenerateItemResultTable();
        });

        //register용 memo
        $('#memo-dialog').memoDialog(displayString, function () {
            var param = GenerateParamForRegister();

            if(param.classTypes == "")
                param.classTypes = "COMMON"

            if(param.memo == "")
            {
                alert(displayString.MemoInputConfirm);
                return;
            }    

 
            InvokeWebService('/api/OpCommand/RegisterLevelEvent', param,
                                function (jsonData) {
                                    $('#message-box-label').html(jsonData);
                                    $('#message-box').dialog("open");
                                    $('#memo-text').val('');
                                },
                function (e) {
                    $('#message-box-label').text(displayString.Fail);
                    $('#message-box').dialog("open");
                });
        });

        //삭제용 memo
        $('#memo-dialog2').memoDialog(displayString, function () {
            var param = GenerateParamForCancel();
            if(param.Memo == "")
            {
                alert(displayString.MemoInputConfirm);
                return;
            }    
            InvokeWebService('/api/OpCommand/CancelLevelEvent', param,
                                function (jsonData) {
                                    $('#message-box-label').text(jsonData);
                                    $('#message-box').dialog("open");
                                    $('#memo-text2').val('');
                                },
                function (e) {
                    $('#message-box-label').text(displayString.Fail);
                    $('#message-box').dialog("open");
                });

        });

        $('#add-item').click( function () {
            param = GenerateParamForRegister();

            $('.additemrow').remove();
            $('#add-item-table').append(
                "<tr class='additemrow'>" +
                "<td> <label id='target-level'>" + param.targetLevel + "</label> </td>" +
                "<td> <input type='text' id='item-template-id' style='width:80px'> </input> </td>" +
                "<td style='text-align:left'> <input type='button' class='get-item-name' value='" + displayString.ItemName + "' > </input> " +
                "<label id='item-name'></label> </td>" +
                "<td> <input type='text' id='item-amount' style='width:80px' > </input> </td> </tr>");


            var dialogheight = 200;
            $('#add-item-dialog').dialog({height: dialogheight});
            $('#add-item-dialog').dialog("open");
        });

        $('#add-gold').click( function () {
            param = GenerateParamForRegister();

            $('.addgoldrow').remove();
            $('#add-gold-table').append(
                "<tr class='addgoldrow'>" +
                "<td> <label id='target-level'>" + param.targetLevel + "</label> </td>" +
                "<td> <label id='compensation'> @DisplayString.Gold </label> </td>" +
                "<td> <input type='text' id='gold-amount'> </input> </td>")

            var dialogheight = 200;
            $('#add-gold-dialog').dialog({height: dialogheight});
            $('#add-gold-dialog').dialog("open");
        });

        $('#add-abnormality').click( function () {
            param = GenerateParamForRegister();

            $('.addabnormalrow').remove();
            $('#add-abnormality-table').append(
                "<tr class='addabnormalrow'>" +
                "<td> <label id='target-level'>" + param.targetLevel + "</label> </td>" +
                "<td> <input type='text' id='abnormality-id' style='width:80px'> </input> </td>" +
                "<td style='text-align:left'> <input type='button' class='get-abnormality-name' value='" + displayString.AbnormalityName + "' > </input> " +
                "<label id='abnormality-name'></label> </td>");

            var dialogheight = 200;
            $('#add-abnormality-dialog').dialog({height: dialogheight});
            $('#add-abnormality-dialog').dialog("open");
        });

        $('#add-item-dialog').on('click', '.get-item-name', function() {
            var tid = $('#item-template-id').val();
            var itemName = GetItemName(tid);
            $('#item-name').text(itemName);
        });

        $('#add-abnormality-dialog').on('click', '.get-abnormality-name', function() {
            var tid = $('#abnormality-id').val();
            var itemName = GetAbnormalityName(tid);
            $('#abnormality-name').text(itemName);
        });

        $('#item-template-id').change(function () {
            $('#item-name').text('');
        });

        $('#get-last-item-name').button().click(function () {
            var itemName = GetItemName($('#last-item-template-id').val());
            $('#last-item-name').text(itemName);
        });

        $('#last-item-template-id').change(function () {
            $('#last-item-name').text('');
        });

        $('#reserve-level-event').click(function () {
            $('#input-check').text('');

            /// 입력값에 대한 기본적인 Validation
            var result = true;
            var param = GenerateParamForRegister();

            if(param.mailSenderName.length > 20 || param.mailTitle.length > 20 || param.mailBody.length > 500
            || param.mailSenderName.indexOf("<") > 0 || param.mailTitle.indexOf("<") > 0 || param.mailBody.indexOf("<") > 0
            )
            {
                alert(displayString.InvalidMailForm);
                return false;
            }

            if(param.targetLevel == undefined || !(param.targetLevel % 1 === 0) || param.targetLevel <= 0 || param.targetLevel > Number('@CONST.MAX_USER_LEVEL'))
            {
                alert(displayString.InvalidTargetLevel);
                return false;
            }

            if (param.startTime >= param.endTime)
            {
                alert(displayString.WrongStartTime);
                return false;
            }

            if (param.classTypes == "" && result)
            {
                alert(displayString.InvalidClassSetting);
                /// 클래스를 설정하지 않은 것인데 전체 클래스 대상으로 진행된다고만 알려 준다
            }

            if( abnormalityIds.length == 1 && itemTemplateIds.length == 1 && gold == 0)
            {
            	alert(displayString.NoCompensationData);
            	return false;
            }

            if (itemTemplateIds.length > 5) {
                alert(displayString.ExceedMaxParcelItemCount);
                return false;
            }

            if (result == false) {
                alert(displayString.InvalidParam);
                return false;
            }

            /*
            if (param.serverNo == 0)
            {
                alert(displayString.RegisterForAllServerWarning);
            }
            */

            GenerateConfirmList(displayString);
            $('#memo-dialog').dialog("open");
            return false;
        });

        $('.cancel-level-event').click(function () {
            var tr = $(this).closest('tr');
            var serverNo = tr.data('server-no');
            var eventId = tr.data('event-id');
            var memoDialog = $('#memo-dialog2');
            memoDialog.data('server-no', serverNo);
            memoDialog.data('event-id', eventId);

            $.each(['server-name', 'mail-sender-name', 'mail-title', 'target-level', 'event-period', 'compensations', 'target-class', 'unique-per-account'], function (index, elem) {
                memoDialog.data(elem, tr.find('.' + elem).text());
            });

            GenerateConfirmListForCancel(displayString);
            memoDialog.dialog('open');
        });

        $('.delete-all-level-event').click(function () {
            var serverNo = GetUrlParam('id');
            if (serverNo = '' || serverNo <= 0)
            {
                alert(displayString.SelectServer);
            }
            else if (confirm(displayString.ConfirmDeleteAllLevelEvent)) {
                var serverNo = GetUrlParam('id');
                var ret = DeleteAllLevelEvent(serverNo);
            }
        });

        // 테스트 용도로 미리 값을 세팅해놓고 시작하고 싶을 때

        if (document.URL.indexOf('localhost') != -1) {
            $('#ServNoDDL').val('11');
            $('#mail-sender-name').val('devbv');
            $('#mail-title').val('devbv mail');
            $('#mail-body').val('devbv said');
            $('#memo-text').val('this is memo');

            var d = new Date();
            var start = new Date();
            var end = new Date();


            start.setTime(d.getTime() + 2 * 60 * 1000);
            end.setTime(d.getTime() + 10 * 60 * 1000);


            var startDate = start.getFullYear() + ("00" + (start.getMonth() + 1)).slice(-2) + ("00" + start.getDate()).slice(-2);
            var endDate = start.getFullYear() + ("00" + (start.getMonth() + 1)).slice(-2) + ("00" + end.getDate()).slice(-2);

            var startTime = ("00" + start.getHours()).slice(-2) + ("00" + start.getMinutes()).slice(-2);
            var endTime = ("00" + end.getHours()).slice(-2) + ("00" + end.getMinutes()).slice(-2);

            $('#start-date').val(startDate);
            $('#start-time').val(startTime);
            $('#end-date').val(endDate);
            $('#end-time').val(endTime);
        }

    });
</script>


<style>
    #register-form p {
        padding: 5px;
    }

    #register-form div {
        padding: 5px;
    }

    .varname {
        width: 150px;
        display: inline-block;
    }

    .itemtable {
        border-collapse: collapse;
        border: 1px #2b2b2b solid;
    }

        .itemtable th {
            padding: 5px;
            background-color: #a0a0a0;
            border: 1px #2b2b2b solid;
        }

        .itemtable td {
            padding: 5px;
            border: 1px #2b2b2b solid;
        }



    #register-form ul {
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: #e0ffff;
    }
        /* #admin-form ul li { list-style: none; border-bottom: 1px solid #000;} */
        #register-form ul li:hover {
            background-color: #e5e5e5;
        }
</style>

<style>
    #register-form p {
        padding: 5px;
    }

    #register-form div {
        padding: 5px;
    }

    .varname {
        width: 150px;
        display: inline-block;
    }

    .itemtable {
        border-collapse: collapse;
        border: 1px #2b2b2b solid;
    }

        .itemtable th {
            padding: 5px;
            background-color: #a0a0a0;
            border: 1px #2b2b2b solid;
        }

        .itemtable td {
            padding: 5px;
            border: 1px #2b2b2b solid;
        }



    #register-form ul {
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: #e0ffff;
    }
        /* #admin-form ul li { list-style: none; border-bottom: 1px solid #000;} */
        #register-form ul li:hover {
            background-color: #e5e5e5;
        }
</style>

<div id="register-form" data-immediate="false">
    <p><b>[@DisplayString.LevelEvent]</b></p>
    <p>

    </p>
    <p>
        <label class="varname">@DisplayString.ServerChoice</label>
        @Html.DropDownList("ServNoDDL")
    </p>
    <p>
        <label class="varname">@DisplayString.Parcel_Sender</label>
        <input id="mail-sender-name" type="text" value="" />
    </p>
    <p>
        <label class="varname">@DisplayString.Title</label>
        <input id="mail-title" type="text" value="" />
    </p>
    <p>
        <label class="varname">@DisplayString.Parcel_Msg</label>
        <textarea cols="40" id="mail-body" rows="4"></textarea>

    </p>
    <p>
        <label class="varname">@DisplayString.TargetLevel</label>
        <input id="target-level" type="text" value="" />
    </p>
    <div>
        <label class="varname">@DisplayString.Item</label>
        <input type="button" value='@DisplayString.ItemInsert' id="add-item" />&nbsp;&nbsp;
        <input type="button" value='@DisplayString.GoldInsert' id="add-gold" />&nbsp;&nbsp;
        <input type="button" value='@DisplayString.AddAbnormality' id="add-abnormality" />
        <br />
        <table class="itemtable" id="add-item-result-table" style="display:none; margin-left: 155px; margin-top: 10px">
            <tr>
                <th>@DisplayString.Level</th>
                <th>TID</th>
                <th>@DisplayString.CompensationName</th>
                <th>@DisplayString.CompensationInfo</th>
                <th> </th>
            </tr>
        </table>
    </div>
    <p>
        <label class="varname">@DisplayString.UniqueRewardPerAccount</label>
        <select id="unique-per-account">
            <option value='true' selected>@DisplayString.Set</option>
            <option value='false' >@DisplayString.NoSet</option>
        </select>
    </p>
    <p>
        <label class="varname">@DisplayString.EventPeriod</label>
        <input type="text" id="start-date" size="8" maxlength="8" /> <input type="text" id="start-time" size="4" maxlength="4" /> ~
        <input type="text" id="end-date" size="8" maxlength="8" /> <input type="text" id="end-time" size="4" maxlength="4" /> [@DisplayString.InputFormat] 20110111 0600
    </p>
    <p>
        <label class="varname">@DisplayString.ClassSetting</label>
        <input type="checkbox" id="class-type" value="COMMON" korstring="전체" />
        <label>@DisplayString.All</label>
        @foreach (var ct in ViewBag.ClassTypes)
        {
            <input type="checkbox" id="class-type" value="@ct.Key" korstring="@ct.Value" />
            <label>@ct.Value</label>
        }
    </p>
    <p>
        <input type="submit" id="reserve-level-event" value="@DisplayString.ReserveEvent"></input>
        <span id="input-check"></span>
    </p>
</div>
<p></p>
<div id="list-form" data-immediate="false">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><b>[@DisplayString.LevelEventList]</b></p>
    <br />
    <p>
        <label>@DisplayString.ServerChoice</label>
        @Html.DropDownList("ServNoDDL2") &nbsp; <button class="search-level-event">@DisplayString.Search</button>
    </p>
    <p>&nbsp;</p>
    <p>
        <button class="delete-all-level-event">@DisplayString.DeleteAllEvent</button>
    </p>
    <br />

    <table class="lineTable">
        <tr>
            <th>@DisplayString.ServerName</th>
            <th>@DisplayString.Parcel_Sender</th>
            <th>@DisplayString.Title</th>
            <th>@DisplayString.TargetLevel</th>
            <th>@DisplayString.CompensationInfo</th>
            <th>@DisplayString.ClassSetting</th>
            <th>@DisplayString.UniqueRewardPerAccount</th>
            <th>@DisplayString.EventPeriod</th>
            <th>@DisplayString.DoControl</th>
        </tr>
        @foreach (WorldFestivalController.LevelEvent levelEvent in ViewBag.LevelEventList)
        {
            <tr id="@(levelEvent.ServerNo)_@(levelEvent.EventId)" data-server-no="@levelEvent.ServerNo" data-event-id="@levelEvent.EventId">
                <td class="server-name">@levelEvent.ServerName</td>
                <td class="mail-sender-name">@levelEvent.MailSenderName</td>
                <td class="mail-title">@levelEvent.MailTitle</td>
                <td class="mail-body" style="display:none">@levelEvent.MailBody</td>
                <td class="target-level">@levelEvent.TargetLevel</td>
                <td class="compensations">
                    @for (var i = 0; i < levelEvent.Items.Length; i++)
                    {
                        @levelEvent.Items[i] <br />
                    }
                    @for (var i = 0; i < levelEvent.Abnormalities.Length; i++)
                    {
                        @levelEvent.Abnormalities[i] <br />
                    }
                    @if (levelEvent.Gold > 0)
                    {
                        @DisplayString.Gold @: : @levelEvent.Gold <br />
                    }
                </td>
                <td class="target-class">@levelEvent.ClassTypes</td>
                <td class="unique-per-account">
                @if (levelEvent.UniquePerAccount)
                {
                    @DisplayString.Set <br/>
                }
                else
                {
                    @DisplayString.NoSet <br />
                }
                </td>
                <td class="event-period" >@levelEvent.StartTime ~ @levelEvent.EndTime</td>
                <td class="do-control"><button class="cancel-level-event">@DisplayString.CancelEvent</button></td>
            </tr>
        }
    </table>
</div>
<div id="memo-dialog">
    <div>
        <ol id="confirm-list" />
    </div>
    <form>
        <label id="message-title">@ViewBag.MemoRegister</label>
        <fieldset>
            <textarea id="memo-text" class="text ui-widget-content ui-corner-all" rows="5" cols="50"></textarea>
        </fieldset>
    </form>
    <div id="message-box">
        <label id="message-box-label"></label>
    </div>
</div>

<div id="memo-dialog2">
    <div>
        <ol id="confirm-list2" />
    </div>
    <form>
        <label id="message-title">@ViewBag.MemoRegister</label>
        <fieldset>
            <textarea id="memo-text2" class="text ui-widget-content ui-corner-all" rows="5" cols="50"></textarea>
        </fieldset>
    </form>
    <div id="message-box">
        <label id="message-box-label"></label>
    </div>
</div>

<div id="add-item-dialog" style="display:none">
    <div style="text-align: center">
        <table class="itemtable" id="add-item-table" style="display:inline-block; border:none">
            <tr>
                <th>@DisplayString.Level</th>
                <th>@DisplayString.ItemID</th>
                <th style="width:300px">@DisplayString.ItemName</th>
                <th>@DisplayString.Amount</th>
            </tr>
        </table>
        <br />
        <input type="submit" style="margin: 10px" id="submit" value="@DisplayString.Submit" />
        <input type="button" style="margin: 10px" id="cancel" value="@DisplayString.Cancel" />
    </div>
</div>

<div id="add-gold-dialog" style="display:none">
    <div style="text-align: center">
        <table class="itemtable" id="add-gold-table" style="display:inline-block; border:none">
            <tr>
                <th>@DisplayString.Level</th>
                <th>@DisplayString.Compensation</th>
                <th>@DisplayString.Amount</th>
            </tr>
        </table>
        <br />
        <input type="submit" style="margin: 10px" id="submit" value="@DisplayString.Submit" />
        <input type="button" style="margin: 10px" id="cancel" value="@DisplayString.Cancel" />
    </div>
</div>

<div id="add-abnormality-dialog" style="display:none">
    <div style="text-align: center">
        <table class="itemtable" id="add-abnormality-table" style="display:inline-block; border:none">
            <tr>
                <th>@DisplayString.Level</th>
                <th>@DisplayString.AbnormalityID</th>
                <th style="width:300px">@DisplayString.AbnormalityName</th>
            </tr>
        </table>
        <br />
        <input type="submit" style="margin: 10px" id="submit" value="@DisplayString.Submit" />
        <input type="button" style="margin: 10px" id="cancel" value="@DisplayString.Cancel" />
    </div>
</div>
