﻿@using System.Web.Mvc.Html
@using WebApp
@using WebApp.Controllers
@{
    ViewBag.Title = "MailEventList";
}

<script type="text/javascript">

    var GenerateParam = function () {
        var memoDialog = $('#memo-dialog');
        var serverNo = memoDialog.data('server-no');
        var eventId = memoDialog.data('event-id');
        return {
            ServerNo: serverNo,
            EventId: eventId,
            Memo: $('#memo-text').val()
        };
    };

    function DeleteAllMailEvent(serverNo) {
        var param =
            {
                ServerNo: serverNo,
                EventId: -1,
                Memo: "Delete All"
            };
        var displayString = GetDisplayString();
        InvokeWebService('/api/OpCommand/CancelMailEvent', param,
                            function () {
                                alert(displayString.DeleteSuccess);
                            },
            function (e) {
                alert(displayString.Fail);
            });
    }


    function GenerateConfirmList(displayString) {
        var memoDialog = $('#memo-dialog');
        var list = $('#confirm-list');
        list.empty();
        list.append('<li>' + displayString.ServerName + ': ' + memoDialog.data('server-name') + '</li>');
        list.append('<li>' + displayString.Parcel_Sender + ': ' + memoDialog.data('mail-sender-name') + '</li>');
        list.append('<li>' + displayString.Title + ': ' + memoDialog.data('mail-title') + '</li>');        
        list.append('<li>' + displayString.SendIntervalMinute + ': ' + memoDialog.data('send-interval-minute') + '</li>');
        list.append('<li>' + displayString.MaxSendPerDay + ': ' + memoDialog.data('max-send-per-day') + '</li>');
        list.append('<li>' + displayString.Parcel_Msg + ': ' + memoDialog.data('mail-body') + '</li>');
        list.append('<li>' + displayString.EventPeriod + ': ' + memoDialog.data('event-period') + '</li>');
    }


    $(document).ready(function () {
        var displayString = GetDisplayString();
        $('#memo-dialog').memoDialog(displayString, function () {
            var param = GenerateParam();
            InvokeWebService('/api/OpCommand/CancelMailEvent', param,
                                function (jsonData) {
                                    $('#message-box-label').text(jsonData);
                                    $('#message-box').dialog("open");
                                    $('#memo-text').val('');
                                    location.reload();
                                },
                function (e) {
                    $('#message-box-label').text(displayString.Fail);
                    $('#message-box').dialog("open");
                });

        });

        $('.cancel-mail-event').click(function () {
            var tr = $(this).closest('tr');
            var serverNo = tr.data('server-no');
            var eventId = tr.data('event-id');
            var memoDialog = $('#memo-dialog');
            memoDialog.data('server-no', serverNo);
            memoDialog.data('event-id', eventId);

            $.each(['server-name', 'mail-sender-name', 'mail-title', 'send-interval-minute', 'max-send-per-day', 'mail-body', 'event-period'], function (index, elem) {
                memoDialog.data(elem, tr.find('.' + elem).text());
            });

            GenerateConfirmList(displayString);
            memoDialog.dialog('open');
        });

        $('.delete-all-mail-event').click(function () {
            var serverNo = $('#ServNoDDL').find('option:selected').val();
            if (serverNo <= 0)
            {
                alert(displayString.SelectServer);
            }
            else if (confirm(displayString.ConfirmDeleteAllMailEvent)) {
                var ret = DeleteAllMailEvent(serverNo);
            }
        });

        $('#ServNoDDL').change(function () {
            var serverNo = $(this).find('option:selected').val();
            window.location = '/WorldFestival/MailEventList/?id=' + serverNo;
        });
    });
</script>

<p><b>[@DisplayString.CancelMailEvent]</b></p>
<br/>
<p>
    <label>@DisplayString.ServerChoice</label>
    @Html.DropDownList("ServNoDDL")
</p>
<p>
    <button class="delete-all-mail-event">@DisplayString.DeleteAllEvent</button>
</p>
<br/>

<table class="lineTable"> 
<tr>
    <th>@DisplayString.ServerName</th>
    <th>@DisplayString.Parcel_Sender</th>
    <th>@DisplayString.Title</th>
    <th>@DisplayString.SendIntervalMinute</th>
    <th>@DisplayString.MaxSendPerDay</th>
    <th>@DisplayString.Item</th>
    <th>@DisplayString.GiveOnFirstLogin</th>
    <th>@DisplayString.DailyReset</th>
    <th>@DisplayString.ClassSetting</th>
    <th>@DisplayString.Status</th>
    <th>@DisplayString.PossibleAction</th> 
    <th style="display:none">@DisplayString.Parcel_Msg</th> 
    <th style="display:none">@DisplayString.EventPeriod</th> 
</tr>
@foreach (WorldFestivalController.MailEvent mailEvent in ViewBag.MailEventList)
{
<tr id="@(mailEvent.ServerNo)_@(mailEvent.EventId)" data-server-no="@mailEvent.ServerNo" data-event-id="@mailEvent.EventId"> 
    <td class="server-name">@mailEvent.ServerName</td> 
    <td class="mail-sender-name">@mailEvent.MailSenderName</td>
    <td class="mail-title">@mailEvent.MailTitle</td>
    <td class="send-interval-minute">@Html.Raw(mailEvent.SendIntervalSec / 60)</td>
    <td class="max-send-per-day">@mailEvent.MaxSendPerDay</td>
    <td class="items">
        @for (var i = 0; i < mailEvent.MaxSendPerDay; i++)
        {
            @mailEvent.Items[i] <br />
        }
    </td>
    <td>@mailEvent.GiveOnFirstLogin</td>
    <td>@mailEvent.DailyReset</td>
    <td>@mailEvent.LocalClassTypes</td>
    <td>@mailEvent.StatusString</td>
    
    <td>
        @if (mailEvent.Status == 0 || mailEvent.Status == 4)
        {
            <button class="cancel-mail-event">@DisplayString.CancelEvent</button>
        }
    </td>
    <td class="mail-body" style="display:none">@mailEvent.MailBody</td>
    <td class="event-period" style="display:none">@mailEvent.StartTime ~ @mailEvent.EndTime</td>
</tr> 
}
</table> 

<div id="memo-dialog" data-server-no="" data-event-id="" data-server-name="" data-mail-sender-name="" data-mail-title="" data-item-template-id="" data-item-name="" data-item-amount="" data-item-increase-amount="" data-send-interval-minute="" data-max-send-per-day="" data-last-item-template-id="" data-last-item-name="" data-last-item-provide-count="" data-mail-body="" data-event-period="">
    <div>
        <ol id="confirm-list" />
    </div>
    <form>
        <label>@DisplayString.MemoRegister</label>
        <fieldset>
            <textarea id="memo-text" class="text ui-widget-content ui-corner-all" rows="5" cols="50"></textarea>
        </fieldset>
    </form>
    <div id="message-box">
        <label id="message-box-label"></label>
    </div>
</div>
