﻿@using WebApp
@using System.Web.Mvc.Html
@{
    ViewBag.Title = "MailEventRegister";
}

<script type="text/javascript">
    function GetItemName(templateId) {
        return InvokeWebServiceSyncByUri('/api/TeraData/GetItemName', 'id=' + templateId);
    }

    function IsStackable(templateId) {
        return InvokeWebServiceSyncByUri('/api/TeraData/IsStackableItem', 'id=' + templateId);
    }

    var GenerateParam = function () {
        var templateIds = [0];
        var oldTemplateIds = [0];
        var itemAmounts = [0];
        var oldItemAmounts = [0];
        var oldItemNames = [0];

        for (var i = 1; i <= $('#max-send-per-day').val(); i++)
        {
            templateIds.push($('#item-template-id-'+i).val());
            oldTemplateIds.push($('#item-template-id-result-'+i).text());
            itemAmounts.push($('#item-amount-'+i).val());
            oldItemAmounts.push($('#item-amount-result-'+i).text());
            oldItemNames.push($('#item-name-result-'+i).text());
        }

        return {
            serverNo: $('#ServNoDDL').val(),
            mailSenderName: $('#mail-sender-name').val(),
            mailTitle: $('#mail-title').val(),
            mailBody: $('#mail-body').val(),
            sendIntervalSec: $('#send-interval-minute').val() * 60,
            maxSendPerDay: $('#max-send-per-day').val(),
            memo: $('#memo-text').val(),
            startTime: $('#start-date').val() + $('#start-time').val(),
            endTime: $('#end-date').val() + $('#end-time').val(),
            itemTemplateIds : templateIds,
            itemAmounts: itemAmounts,
            dailyReset: $('#daily-reset').val(),
            giveOnFirstLogin: $('#give-on-first-login').val(),
            oldItemTemplateIds : oldTemplateIds,
            oldItemAmounts : oldItemAmounts,
            oldItemNames : oldItemNames,
            classTypes: $("#class-type:checked").map(function() {return this.value;}).get().join(",")
        };
    };

    function GenerateConfirmList(displayString) {
        
        var list = $('#confirm-list');
        list.empty();
        list.append('<li>' + displayString.ServerName + ': ' + $('#ServNoDDL option:selected').text() + '</li>');
        list.append('<li>' + displayString.Parcel_Sender + ': ' + $('#mail-sender-name').val() + '</li>');
        list.append('<li>' + displayString.Title + ': ' + $('#mail-title').val() + '</li>');
        list.append('<li>' + displayString.Parcel_Msg + ': ' + $('#mail-body').val() + '</li>');
        list.append('<li>' + displayString.SendIntervalMinute + ': ' + $('#send-interval-minute').val() + '</li>');
        list.append('<li>' + displayString.MaxSendPerDay + ': ' + $('#max-send-per-day').val() + '</li>');
        list.append('<li>' + displayString.GiveOnFirstLogin + ': ' + ($('#give-on-first-login').val() == 'true'? displayString.Set : displayString.Unset) + '</li>');
        list.append('<li>' + displayString.DailyReset + ': ' + ($('#daily-reset').val() == 'true'? displayString.Set : displayString.Unset) + '</li>');
        
        var classSetting = $("#class-type:checked").map(function() {return this.getAttribute("korString");}).get().join(",");
        if (classSetting == "")
            classSetting = "전체";
        
        list.append('<li>' + displayString.ClassSetting + ': ' + classSetting);

        var immediate = $('#register-form').data('immediate') == 'true';
        if (immediate == false) {
            list.append('<li>' + displayString.EventPeriod + ': ' + $('#start-date').val() + ' ' + $('#start-time').val() + ' ~ ' + $('#end-date').val() + ' ' + $('#end-time').val() + '</li>');
        }
        var items = $('#add-item-result-table').clone();
        items.css('margin-left', 0);
        list.append(items);
    }

    $.fn.addItemDialog = function (displayString, checkAction, commitAction) {
        var thisDialog = this;

        $("#submit").click( function (){
            if (checkAction()){
                if (confirm(displayString.ConfirmInput)) {
                    commitAction();
                    $(this).dialog("close");
                    thisDialog.dialog("close");
                }
            }
            else{
                alert(displayString.WrongInput);
            }
        });

        $("#cancel").click( function(){
            $(this).dialog("close");
            thisDialog.dialog("close");
        });

        this.dialog({
            title: displayString.ItemInsert,
            autoOpen: false,
            width: 600,
            modal: true
        });
    }

    $(document).ready(function () {
        var displayString = GetDisplayString();

        $('#add-item-dialog').addItemDialog(displayString, 
            function() {
                /// 컨펌 함수
                param = GenerateParam();
                for (var i = 1; i <= param.maxSendPerDay; i++)
                {
                    if (param.itemTemplateIds[i] == undefined || param.itemTemplateIds[i] <= 0)
                        return false;

                    var itemName = GetItemName(param.itemTemplateIds[i]);
                    if (itemName == undefined || itemName == "" || itemName == null)
                        return false;
                }
                return true;
            },
            function() {
                /// 섭밋 함수
                param = GenerateParam();

                $('.resultrow').remove();
                for (var i = 1; i <= param.maxSendPerDay; i++)
                {
                    $('#add-item-result-table').append( 
                        "<tr class='resultrow'>" +
                        "<td> <label id='count-result-" + i + "'>" + i + "</label> </td>" + 
                        "<td> <label id='item-template-id-result-" + i + "'>" + param.itemTemplateIds[i] + "</label> </td>" +
                        "<td> <label id='item-name-result-" + i + "'>" + GetItemName(param.itemTemplateIds[i]) + "</label> </td>" +
                        "<td> <label id='item-amount-result-" + i + "'>" + param.itemAmounts[i] + "</label> </td> </tr>");

                    $('#add-item-result-table').show();
                }
            });

        $('#memo-dialog').memoDialog(displayString, function () {
            var param = GenerateParam();

            if (param.serverNo > 0) {
                InvokeWebService('/api/OpCommand/RegisterMailEvent', param,
                                    function (jsonData) {
                                        $('#message-box-label').text(jsonData);
                                        $('#message-box').dialog("open");
                                        $('#memo-text').val('');
                                    },
                    function (e) {
                        $('#message-box-label').text(displayString.Fail);
                        $('#message-box').dialog("open");
                    });
            }
            else {
                @foreach (var serverNo in ViewBag.AllServerList)
                {
                    <text>
                    param.serverNo = @serverNo;
                    InvokeWebService('/api/OpCommand/RegisterMailEvent', param,
                                    function (jsonData) {
                                        $('#message-box-label').text(jsonData);
                                        $('#message-box').dialog("open");
                                        $('#memo-text').val('');
                                    },
                    function (e) {
                        $('#message-box-label').text(displayString.Fail);
                        $('#message-box').dialog("open");
                    });
                    </text>
                }
            }
        });

        $('#add-item').click( function () {
            param = GenerateParam();

            $('.additemrow').remove();
            for (var i = 1; i <= param.maxSendPerDay; i++)
            {
                $('#add-item-table').append( 
                    "<tr class='additemrow'>" +
                    "<td> <label id='count-" + i + "'> " + i + "</label> </td>" + 
                    "<td> <input type='text' id='item-template-id-" + i + "' value='" + param.oldItemTemplateIds[i] + "' style='width:80px'> </input> </td>" +
                    "<td style='text-align:left'> <input type='button' class='get-item-name' idx='" + i +"' value='" + displayString.ItemName + "' > </input> " +
                    "<label id='item-name-" + i + "'>"+param.oldItemNames[i] +" </label> </td>" +
                    "<td> <input type='text' id='item-amount-" + i + "' value='" + param.oldItemAmounts[i] + "' style='width:80px' > </input> </td> </tr>");
            }

            var dialogheight = param.maxSendPerDay * 35 + 120;
            $('#add-item-dialog').dialog({height: dialogheight});
            $('#add-item-dialog').dialog("open");
        });

        $('#add-item-dialog').on('click', '.get-item-name', function() {
            var idx = $(this).attr("idx");
            var tid = $('#item-template-id-' + idx).val();
            var itemName = GetItemName(tid);
            $('#item-name-' + idx).text(itemName);
        });

        $('#item-template-id').change(function () {
            $('#item-name').text('');
        });

        $('#get-last-item-name').button().click(function () {
            var itemName = GetItemName($('#last-item-template-id').val());
            $('#last-item-name').text(itemName);
        });

        $('#last-item-template-id').change(function () {
            $('#last-item-name').text('');
        });

        $('#max-send-per-day').change(function () {
            if ($(this).val() > 100)
            {
                $(this).val(100);
            }
        });

        $('#reserve-mail-event').click(function () {
            $('#input-check').text('');

            /// 입력값에 대한 기본적인 Validation
            var result = true;

            var itemTemplateId = $('#item-template-id').val();
            var itemAmount = $('#item-amount').val();
            var lastItemTemplateId = $('#last-item-template-id').val();
            var lastItemAmount = $('#last-item-provide-count').val();
            var sendCountPerDay = $('#max-send-per-day').val();

            var param = GenerateParam();

            if (sendCountPerDay < 1 || !(sendCountPerDay % 1 === 0)) {
                result = false;
            }

            for (var i = 1; i <= sendCountPerDay; i++)
            {
                if (param.itemTemplateIds[i] == undefined || param.itemTemplateIds[i] <= 0 || param.itemTemplateIds[i] == null)
                    result = false;
                
                var itemName = GetItemName(param.itemTemplateIds[i]);
                if (itemName == undefined || itemName == null || itemName == "")
                    result = false;

                if (param.itemAmounts[i] == undefined || param.itemTemplateIds[i] <= 0 || param.itemAmounts[i] == null)
                    result = false;
            }

            if (param.sendIntervalSec <= 0 || param.sendIntervalSec > 1440 * 60 || !$.isNumeric(param.sendIntervalSec) || !($('#send-interval-minute').val().match(/^\d+$/)))
            {
                alert(displayString.WrongSendMinutes);
                return false;
            }

            if ($('#start-date').val().length < 8 || $('#start-time').val().length < 4 || $('#end-date').val().length < 8 || $('#end-time').val().length < 4)
            {
                alert(displayString.WrongTime);
                return false; 
            }

            if (param.startTime >= param.endTime)
            {
                alert(displayString.WrongStartTime);
                return false;
            }
            
            if (param.classTypes == "" && result)
            {
                alert(displayString.InvalidClassSetting);
                /// 클래스를 설정하지 않은 것인데 전체 클래스 대상으로 진행된다고만 알려 준다
            }

            if (result == false) {
                alert(displayString.InvalidParam);
                return false;
            }

            GenerateConfirmList(displayString);
            $('#memo-dialog').dialog("open");
            return false;
        });

        // 테스트 용도로 미리 값을 세팅해놓고 시작하고 싶을 때
        if (document.URL.indexOf('localhost') != -1) {

            $('#ServNoDDL').val('15');
            $('#mail-sender-name').val('bert');
            $('#mail-title').val('bert mail');
            $('#mail-body').val('bert said');
            $('#item-template-id').val('337');
            $('#item-amount').val('10');
            $('#send-interval-minute').val('1');
            $('#max-send-per-day').val('3');
            $('#last-item-template-id').val('10675');
            $('#last-item-provide-count').val('1');
            $('#memo-text').val('this is memo');
            $('#item-increase-amount').val('0');

            var d = new Date();
            var start = new Date();
            var end = new Date();


            start.setTime(d.getTime() + 2 * 60 * 1000);
            end.setTime(d.getTime() + 10 * 60 * 1000);


            var startDate = start.getFullYear() + ("00" + (start.getMonth() + 1)).slice(-2) + ("00" + start.getDate()).slice(-2);
            var endDate = start.getFullYear() + ("00" + (start.getMonth() + 1)).slice(-2) + ("00" + end.getDate()).slice(-2);

            var startTime = ("00" + start.getHours()).slice(-2) + ("00" + start.getMinutes()).slice(-2);
            var endTime = ("00" + end.getHours()).slice(-2) + ("00" + end.getMinutes()).slice(-2);



            $('#start-date').val(startDate);
            $('#start-time').val(startTime);
            $('#end-date').val(endDate);
            $('#end-time').val(endTime);
        }

    });
</script>

<style>
    #register-form p {
        padding: 5px;
    }
    #register-form div {
        padding: 5px;
    }
    .varname {
        width: 150px;
        display: inline-block;
    }

    .itemtable {
        border-collapse:collapse;
        border: 1px #2b2b2b solid;
    }

    .itemtable th {
        padding: 5px;
        background-color: #a0a0a0;
        border: 1px #2b2b2b solid;
    }

    .itemtable td {
        padding: 5px;
        border: 1px #2b2b2b solid;
    }

    

    #register-form ul { list-style: none; padding: 0; margin: 0; background-color: #e0ffff;}
    /* #admin-form ul li { list-style: none; border-bottom: 1px solid #000;} */
    #register-form ul li:hover { background-color: #e5e5e5; }
</style>

<div id="register-form" data-immediate="false">
    <strong>@DisplayString.MailEvent</strong>
    <p>
        
    </p>
    <p>
        <label class="varname">@DisplayString.ServerChoice</label>
        @Html.DropDownList("ServNoDDL")
    </p>
    <p>
        <label class="varname">@DisplayString.Parcel_Sender</label>
        <input id="mail-sender-name" type="text" value="" />
    </p>
    <p>
        <label class="varname">@DisplayString.Title</label>
        <input id="mail-title" type="text" value="" />
    </p>
    <p>
        <label class="varname">@DisplayString.Parcel_Msg</label>
        <textarea cols="40" id="mail-body" rows="4"></textarea>

    </p>
    <p>
        <label class="varname">@DisplayString.SendIntervalMinute</label>
        <input id="send-interval-minute" type="text" value="" />
    </p>
    <p>
        <label class="varname">@DisplayString.MaxSendPerDay</label>
        <input id="max-send-per-day" type="text" value="" />
    </p>
    <div>
        <label class="varname">@DisplayString.Item</label>
        <input type="button" value='@DisplayString.ItemInsert' id="add-item" /><br />
        <table class="itemtable" id="add-item-result-table" style="display:none; margin-left: 155px; margin-top: 10px">
            <tr>
                <th>@DisplayString.Index</th>
                <th>@DisplayString.ItemID</th>
                <th>@DisplayString.ItemName</th>
                <th>@DisplayString.Amount</th>
            </tr>
        </table>
    </div>
    <p>
        <label class="varname">@DisplayString.GiveItemPeriod</label>
        <input type="text" id="start-date" size="8" maxlength="8" /> <input type="text" id="start-time" size="4" maxlength="4" /> ~ 
        <input type="text" id="end-date" size="8" maxlength="8" /> <input type="text" id="end-time" size="4" maxlength="4" /> [@DisplayString.InputFormat] 20110111 0600 
    </p>
    <p>
        <label class="varname">@DisplayString.GiveOnFirstLogin</label>
        <select id="give-on-first-login" >
            <option value='true'>@DisplayString.Set</option>
            <option value='false' selected >@DisplayString.NoSet</option>
        </select>
    </p>
    <p>
        <label class="varname">@DisplayString.DailyReset</label>
        <select id="daily-reset" >
            <option value='true' selected >@DisplayString.Set</option>
            <option value='false'>@DisplayString.NoSet</option>
        </select>
    </p>
    <p>
        <label class="varname">@DisplayString.ClassSetting</label>
        <input type="checkbox" id="class-type" value="COMMON" korString="전체" />
        <label>@DisplayString.All</label>
        @foreach(var ct in ViewBag.ClassTypes)
        {
            <input type="checkbox" id="class-type" value="@ct.Key" korString="@ct.Value" />
            <label>@ct.Value</label>
        }
    </p>
    <p>
        <input type="submit" id="reserve-mail-event" value="@DisplayString.ReserveEvent"></input>
        <span id="input-check"></span>
    </p>
</div>

<div id="memo-dialog">
    <div>
        <ol id="confirm-list" />
    </div>
    <form>
        <label>@DisplayString.MemoRegister</label>
        <fieldset>
            <textarea id="memo-text" class="text ui-widget-content ui-corner-all" rows="5" cols="50"></textarea>
        </fieldset>
    </form>
    <div id="message-box">
        <label id="message-box-label"></label>
    </div>
</div>

<div id="add-item-dialog">
    <div style="text-align: center">
    <table class="itemtable" id="add-item-table" style="display:inline-block; border:none" >
        <tr>
                <th style="width:30px">@DisplayString.Index</th>
                <th >@DisplayString.ItemID</th>
                <th style="width:300px">@DisplayString.ItemName</th>
                <th >@DisplayString.Amount</th>
        </tr>
    </table>
    <br />
    <input type="submit" style="margin: 10px" id="submit" value="@DisplayString.Submit" />
    <input type="button" style="margin: 10px" id="cancel" value="@DisplayString.Cancel" />
        </div>
</div>
