﻿@using System.Web.Mvc.Html
@using WebApp
@using WebApp.Controllers
@{
    ViewBag.Title = "TeraTimeList";
}

<script type="text/javascript">

   var GenerateParam = function () {
        var memoDialog = $('#memo-dialog');
        var serverNo = memoDialog.data('server-no');
        var eventId = memoDialog.data('event-id');
        return {
            ServerNo: serverNo,
            EventId: eventId,
            Memo: $('#memo-text').val()
        };
    };



    function GenerateConfirmList(displayString) {
        var memoDialog = $('#memo-dialog');
        var list = $('#confirm-list');
        list.empty();
        list.append('<li>' + displayString.ServerName + ': ' + memoDialog.data('server-name') + '</li>');
        list.append('<li>' + displayString.Parcel_Sender + ': ' + memoDialog.data('mail-sender-name') + '</li>');
        list.append('<li>' + displayString.Title + ': ' + memoDialog.data('mail-title') + '</li>');
        var itemInfo = memoDialog.data('item-template-id') + '(' + memoDialog.data('item-name') + ')';
        list.append('<li>' + displayString.Item + ': ' + itemInfo + '</li>');
        list.append('<li>' + displayString.Amount + ': ' + memoDialog.data('item-amount') + '</li>');
        list.append('<li>' + displayString.Parcel_Msg + ': ' + memoDialog.data('mail-body') + '</li>');
        list.append('<li>' + displayString.EventPeriod + ': ' + memoDialog.data('event-period') + '</li>');
    }


    $(document).ready(function () {
        var displayString = GetDisplayString();
        $('#memo-dialog').memoDialog(displayString, function () {
            var param = GenerateParam();
            InvokeWebService('/api/OpCommand/CancelTeraTime', param,
                                function (jsonData) {
                                    $('#message-box-label').text(jsonData);
                                    $('#message-box').dialog("open");
                                    $('#memo-text').val('');
                                    location.reload();
                                },
                function (e) {
                    $('#message-box-label').text(displayString.Fail);
                    $('#message-box').dialog("open");
                });

        });

        $('.cancel-tera-time').click(function () {
            var tr = $(this).closest('tr');
            var serverNo = tr.data('server-no');
            var eventId = tr.data('event-id');
            var memoDialog = $('#memo-dialog');
            memoDialog.data('server-no', serverNo);
            memoDialog.data('event-id', eventId);

            $.each(['server-name', 'mail-sender-name', 'mail-title', 'item-template-id', 'item-name', 'item-amount', 'mail-body', 'event-period'], function(index, elem) {
                memoDialog.data(elem, tr.find('.' + elem).text());
            });

            GenerateConfirmList(displayString);
            memoDialog.dialog('open');
        });

        $('#ServNoDDL').change(function () {
            var serverNo = $(this).find('option:selected').val();
            window.location = '/WorldFestival/TeraTimeList/?id=' + serverNo;
        });
    });
</script>

<p><b>[@DisplayString.CancelTeraTime]</b></p>
<br/>
<p>
    <label>@DisplayString.ServerChoice</label>
    @Html.DropDownList("ServNoDDL")
</p>
<br/>

<table class="lineTable"> 
<tr>
    <th>@DisplayString.ServerName</th>
    <th>@DisplayString.Parcel_Sender</th>
    <th>@DisplayString.Title</th>
    <th>@DisplayString.ItemID</th> 
    <th>@DisplayString.ItemName</th> 
    <th>@DisplayString.ItemAmount</th>
    <th>@DisplayString.Parcel_Msg</th> 
    <th>@DisplayString.EventPeriod</th> 
    <th>@DisplayString.Status</th>
    <th>@DisplayString.PossibleAction</th> 
</tr>
@foreach (WorldFestivalController.TeraTime teraTime in ViewBag.TeraTimeList)
{
<tr id="@(teraTime.ServerNo)_@(teraTime.EventId)" data-server-no="@teraTime.ServerNo" data-event-id="@teraTime.EventId"> 
    <td class="server-name">@teraTime.ServerName</td> 
    <td class="mail-sender-name">@teraTime.MailSenderName</td>
    <td class="mail-title">@teraTime.MailTitle</td>
    <td class="item-template-id">@teraTime.ItemTemplateId</td>
    <td class="item-name">@teraTime.ItemName</td>
    <td class="item-amount">@teraTime.ItemAmount</td>
    <td class="mail-body">@teraTime.MailBody</td>
    <td class="event-period">@teraTime.StartTime ~ @teraTime.EndTime</td>
    <td>@teraTime.StatusString</td>
    
    <td>
        @if (teraTime.Status == 0 && teraTime.StartTime > DateTime.Now)
        {
            <button class="cancel-tera-time">@DisplayString.CancelTeraTime</button>
        }
    </td> 
</tr> 
}
</table> 

<div id="memo-dialog" data-server-no="" data-event-id="" data-server-name="" data-mail-sender-name="" data-mail-title="" data-item-template-id="" data-item-name="" data-item-amount="" data-mail-body="" data-event-period="">
    <div>
        <ol id="confirm-list" />
    </div>
    <form>
        <label>@DisplayString.MemoRegister</label>
        <fieldset>
            <textarea id="memo-text" class="text ui-widget-content ui-corner-all" rows="5" cols="50"></textarea>
        </fieldset>
    </form>
    <div id="message-box">
        <label id="message-box-label"></label>
    </div>
</div>
