﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Users/Card/BaseCardPage.master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="WebApp.Users.Card.Default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="SubPageContents" runat="server">
</asp:Content>
