﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/AppCode/DataSetAskDialog.master" CodeBehind="ATO_DeleteAllPeriodItem.aspx.cs" Inherits="WebApp.Item.ATO_DeletePeriodItem" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TERA_ATO" runat="server">
	<asp:Label runat="server" Text="<%# WebApp.DisplayString.DELETE_ALL_PERIOD_ITEM %>" />
    <br />
</asp:Content>
