﻿<%@ Page MasterPageFile="~/AppCode/Operate.Master" EnableViewState="false" Language="C#" AutoEventWireup="true" CodeBehind="ApperanceOnOff.aspx.cs" Inherits="WebApp.InGameStore.StyleShop.ApperanceOnOff" %>