﻿<%@ Page MasterPageFile="~/AppCode/Operate.Master" EnableViewState="false" Language="C#" AutoEventWireup="true" CodeBehind="StyleShopOnOff.aspx.cs" Inherits="WebApp.InGameStore.StyleShop.StyleShopOnOff" %>
