﻿<%@ Page MasterPageFile="~/AppCode/Operate.Master" EnableViewState="false" Language="C#" AutoEventWireup="true" CodeBehind="KillNPCEarnExpClassLevel.aspx.cs" Inherits="WebApp.Report.KillNPCEarnExpClassLevel" %>