﻿<%@ Page MasterPageFile="~/AppCode/Operate.Master" EnableViewState="false" Language="C#" AutoEventWireup="true" CodeBehind="AttendanceEventCancel.aspx.cs" Inherits="WebApp.WorldFestival.AttendanceEventCancel" %>
