﻿<%@ Page MasterPageFile="~/AppCode/Operate.Master" EnableViewState="false" Language="C#" AutoEventWireup="true" CodeBehind="NewCandidateAccount.aspx.cs" Inherits="WebApp.DetectBOT.NewCandidateAccount" %>
