﻿<%@ Page Title="" MasterPageFile="~/AppCode/Operate.Master" EnableViewState="false" Language="C#" AutoEventWireup="true" CodeBehind="GuildCompManagement.aspx.cs" Inherits="WebApp.Guild.GuildCompManagement" %>
