﻿<%@ Page MasterPageFile="~/AppCode/Operate.Master" EnableViewState="false" Language="C#" AutoEventWireup="true" CodeBehind="GuildWarManagement.aspx.cs" Inherits="WebApp.Guild.GuildFloatingCastle" %>
