﻿@using System.Web.Optimization
@using WebApp
@using WebApp.ProtoBuf
<!DOCTYPE html>
<html>

@{
    var menuList = new List<WebMenu>();
    var recentUserList = new List<LoginHelper.SearchUserName>();
    var recentAccountList = new List<LoginHelper.SearchAccountName>();

    /// 로그인되어있는지 쿠키에서 읽어서 한번 보자            
    HttpCookie savedCookie = Request.Cookies.Get("steersession");

    /// sessionId로 로그인 상태 확인해 보자
    string strCookie = "";
    if (savedCookie != null)
    {
        strCookie = savedCookie.Value.ToString();
    }

    LoginHelper.LoginSessionData loginData = null;
    bool passed = false;
    do
    {
        if (false == LoginHelper.GetLoginSessionData(strCookie, out loginData))
        {
            break;
        }

        string filePath = Request.FilePath;

        WebMenu webMenu = null;
        if (false == DataSheetManager.GetFilePathWebMenu(filePath, ref webMenu))
        {
            break;
        }

        string commandName = webMenu.mName;
        if (false == loginData.HaveFunction(commandName))
        {
            break;
        }

        // 왼쪽 메뉴
        WebMenu selectedMenu = null;
        if (webMenu.mStep == WebMenu.Step.ST3)
        {
            selectedMenu = webMenu.mParent.mParent;
        }
        else if (webMenu.mStep == WebMenu.Step.ST2)
        {
            selectedMenu = webMenu.mParent;
        }

        foreach (var m in DataSheetManager.GetNavigateMainMenu().Values)
        {
            menuList.Add(m);
            if (m == selectedMenu)
            {
                menuList.AddRange(m.mSubMenus.Values);
            }
        }

        // 오른쪽 메뉴
        recentUserList = loginData.GetRecentSearchUserName();
        recentAccountList = loginData.GetRecentSearchAccountName();


        // 타이틀
        string url = Request.Path.ToLower();
        WebMenu selMenu = DataSheetManager.GetNavigateMenu(url); /// 선택한 메뉴 찾기

        if (selMenu != null)
        {
            ViewBag.Title = " [ " + loginData.mLoginId + " ] " + selMenu.GetMainMenu().mShortDisp;
        }
        else
        {
            ViewBag.Title = " [ " + loginData.mLoginId + " ] AdminTool";
        }

        passed = true;

    } while (false);

    if (!passed)
    {
        Response.Redirect("/Login/default.aspx");
    }
}

<head id="Head" runat="server">
    <title>@ViewBag.Title</title>
    <base target="_self" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")

    <link href='/AppCode/Common.css' rel='stylesheet' type='text/css' />
    <script src="/AppCode/NewWebApp.js"></script>
</head>

    <body>
<script src="/AppCode/JavaCommon.js" type="text/javascript"></script>

        <table class="webapp_table" cellpadding="10" align="Center" rules="all" border="1">
        <tr>
            <th colspan="3" align="left" >
                <table>
                <tr>
                    <td width ="50">TERA</td>
                    <td width ="900">Admin Tool &nbsp ( @WebApp.VersionInfo.Version ) </td>
                    <td width ="200">
                        @if (loginData != null)
                        {
                            @(loginData.mLoginId + WebApp.DisplayString.Welcome)
                        }
                    </td>
                    <td><a href="/Login/LogOut.aspx"> [ LogOut ] </a></td>
                </tr>
                <tr>
                    
                </tr>
                </table>
            </th>
        </tr>
        <tr valign="top" align="left" width="1350">        
            <td width="120" >
                <table>
                    @foreach (var menu in menuList)
                    {
                        <tr><td>
                                @Html.Raw(menu.Link)
                        </td></tr>
                    }
                </table>
            </td>    
            <td width="1000"> 
                <table class="nolineTable" >
                	<tr><td>
                    @RenderBody()
                    </td></tr>
                </table>
            </td>
            <td width="230">
                <table>
                <tr><th>@WebApp.DisplayString.RecentSearch</th></tr>
                @foreach (var recentUser in recentUserList)
                {
                    <tr><td>
                            @Html.Raw(recentUser.Link)
                    </td></tr>
                }
                </table>
                <table>
                <tr><th>@WebApp.DisplayString.RecentSearchAccount</th></tr>
                @foreach (var recentAccount in recentAccountList)
                {
                    <tr><td>
                            @Html.Raw(recentAccount.Link)
                    </td></tr>    
                }
                </table>                      
            </td>
        </tr>        
        </table>   
        
</body>
</html>