﻿<%@ Page Title="" Language="C#" MasterPageFile="~/AppCode/Operate.Master" AutoEventWireup="true" EnableViewState="false" EnableEventValidation="true"
    CodeBehind="Default.aspx.cs" Inherits="WebApp.Server.ServerStatistics" %>
